a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7882352941);
}

.opcoes .redes {
  align-items: center;
}

#guest_menu_aberto {
  grid-template-rows: 6vw repeat(4, 1fr);
}

#main_adm_obra {
  display: grid;
  grid-template-rows: auto;
  margin-top: 12vw;
  gap: 3vw;
}

.adm_obras_titulo_secao_obra h2 {
  width: 13.5vw;
}

.adm_obras_titulo_secao_obra2 h2 {
  width: 19vw;
}

.adm_obras_linha_obras {
  overflow-x: auto;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  width: auto;
  gap: 2vw;
}

.adm_obras_obra_horizontal {
  width: 100%;
  display: grid;
  height: 35vw;
  grid-template-columns: 45vw 15vw;
  background-color: #233431;
  padding: 2vw;
  border-radius: 25px;
}

.adm_obras_obra_vertical {
  width: 100%;
  display: grid;
  grid-template-columns: 18vw 15vw;
  background-color: #233431;
  padding: 2vw;
  border-radius: 25px;
}

.adm_obras_desativadas {
  text-indent: 2vw;
  font-size: 3vw;
  width: 100%;
  height: 100%;
}

.adm_obras_obra_info_inicial {
  display: grid;
  grid-template-rows: 25vw 1fr;
}

.adm_obras_obra_info_inicial img {
  width: 100%;
  height: 25vw;
}

.adm_obras_obra_info_inicial p {
  padding-top: 2vw;
}

.adm_obras_obra_descricao_inicial {
  padding-left: 1.5vw;
  display: grid;
  grid-template-rows: 1fr 4vw;
  text-align: left;
}

.adm_obras_obra_descricao_inicial .descricao {
  display: grid;
  grid-template-rows: 6vw 1fr;
}

.descricao_obra .titulos {
  text-indent: -0.8vw;
}

.descricao_obra .texto {
  white-space: normal;
  word-wrap: break-word;
  overflow-y: auto;
  max-height: 12.5vw;
  font-size: 1.2vw;
}

.nome_obra_card {
  margin-left: -1vw;
  font-size: 1.75vw;
  text-indent: 0;
}

.tipo_obra_card {
  font-size: 1.4vw;
}

.adm_obras_obra_descricao_inicial .editar_btn {
  text-align: right;
}

.adm_obras_obra_descricao_inicial .editar_btn img {
  width: 4vw;
  height: 100%;
  border-radius: 500px;
  cursor: pointer;
}

.inputs_inativados {
  visibility: hidden;
  display: none;
}

.inputs_desativados {
  visibility: hidden;
  display: none;
}

.id_input:hover {
  border: none;
  border-bottom: none;
  border-left: none;
  pointer-events: none;
}

.id_input:hover {
  border: none;
  border-bottom: none;
  border-left: none;
  pointer-events: none;
}

@keyframes slideIn_obra {
  0% {
    top: -50vh;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 20vh;
  }
}
@keyframes slideOff_obra {
  100% {
    top: -50vh;
    opacity: 0;
  }
  0% {
    opacity: 1;
    visibility: visible;
    top: 20vh;
  }
}
@keyframes opacityOff {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes opacityOn {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0.3;
  }
}
.main_adm_obra_edit {
  visibility: hidden;
  padding: 2vw;
  display: grid;
  grid-template-rows: auto;
  position: fixed;
  width: 65vw;
  height: auto;
  top: 20vh;
  left: 17.5vw;
  border: 1vw solid #233431;
  border-radius: 20px;
  background-color: #6DA097;
}

.main_adm_obra_edit_horizontal {
  visibility: hidden;
  padding: 2vw;
  display: grid;
  grid-template-rows: auto;
  position: fixed;
  width: 90vw;
  height: auto;
  top: 20vh;
  left: 5vw;
  border: 1vw solid #233431;
  border-radius: 20px;
  background-color: #6DA097;
}

.informacoes_edit {
  display: grid;
  grid-template-columns: 15vw 1fr;
  margin-top: 1vw;
}

.informacoes_edit_horizontal {
  display: grid;
  grid-template-columns: 45vw 1fr;
  margin-top: 1vw;
}

.informacoes_edit .descricao, .informacoes_edit_horizontal .descricao {
  display: grid;
  grid-template-rows: auto;
  gap: 1vw;
}

.desc_obra_edit {
  background-color: #6DA097;
  border: 0.3vw solid #233431;
  border-bottom: 0.6vw solid #233431;
  border-left: 0.6vw solid #233431;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.7882352941);
  font-size: 1.2vw;
  width: 95%;
  min-height: 10vw;
  max-height: 25vw;
  margin-left: 1vw;
  padding: 1vw;
  overflow-x: auto;
  resize: none;
}

.descricao .informacoes_superior {
  display: grid;
  grid-template-columns: 1fr 3vw;
  gap: 3vw;
}

.informacoes_superior .close p {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 4vw;
  margin-top: -2vw;
  margin-left: 1vw;
  width: 2.5vw;
  height: 4vw;
  border-radius: 15px;
  padding: 1.3vw;
  padding-top: 0.5vw;
  cursor: pointer;
}

.informacoes_superior .close p:hover {
  background-color: #8BCCC1;
}

.informacoes_superior .titulo {
  display: grid;
  grid-template-rows: auto;
  gap: 3vw;
}

input {
  width: 60%;
  background-color: #6DA097;
  padding: 0.1vw;
  border: 0.3vw solid #233431;
  border-bottom: 0.6vw solid #233431;
  border-left: 0.6vw solid #233431;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.7882352941);
  font-size: 1.2vw;
  text-indent: 0.8vw;
  margin-left: 0.8vw;
  height: 3.5vw;
}

.tipo_obra {
  width: 100%;
  height: 100%;
}

.tipo_obra label {
  width: 6vw;
  padding-top: 0.2vw;
}

select {
  height: 100%;
  width: 60%;
  height: 3.5vw;
  background-color: #6DA097;
  border: 0.3vw solid #233431;
  border-bottom: 0.6vw solid #233431;
  border-left: 0.6vw solid #233431;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.7882352941);
  font-size: 1.2vw;
  text-indent: 0.8vw;
  margin-left: 0.8vw;
}

select:hover {
  border: 0.3vw solid #8BCCC1;
  border-bottom: 0.6vw solid #8BCCC1;
  border-left: 0.6vw solid #8BCCC1;
}

label {
  padding-top: 0.2vw;
  position: absolute;
  background-color: #6DA097;
  border-radius: 25px;
  border: 0.3vw solid #233431;
  border-bottom: 0.5vw solid #233431;
  border-left: 0.5vw solid #233431;
  width: 7vw;
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -1.7vw;
  margin-left: 1vw;
}

.informacoes_edit .upload_img, .informacoes_edit_horizontal .upload_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.informacoes_edit_horizontal .upload_img #imagem_obra_edit {
  width: 45vw;
  height: 25vw;
}

.upload_icon {
  width: 10vw;
  height: 10vw;
  position: absolute;
  border-radius: 25px;
  margin-left: 0.8vw;
}

#imagem_obra_edit {
  opacity: 0.35;
}

#input_edit_img {
  position: absolute;
  width: 10vw;
  height: 10vw;
  opacity: 0;
  cursor: pointer;
}

.main_adm_obra_edit .dados, .main_adm_obra_edit_horizontal .dados {
  display: grid;
  grid-template-columns: 1fr 8vw 8vw;
}

.dados {
  margin-top: 2vw;
}

.dados .texto {
  display: flex;
  align-items: center;
  justify-content: left;
}

.dados .id_e_posicao {
  display: grid;
  grid-template-rows: auto;
  gap: 0.5vw;
}

.posicao {
  display: flex;
  align-items: center;
  justify-content: left;
}

.posicao p {
  margin-top: 0.3vw;
}

.posicao_check {
  width: 3vw;
  height: 1.5vw;
  margin-left: -0.8vw;
}

.id_input {
  outline: none;
  border-radius: 0px;
  font-size: 1.6vw;
  text-indent: -0.2vw;
  margin-top: -0.2vw;
  text-indent: 0;
  border: none;
  width: auto;
  height: auto;
  cursor: default;
}

input[type=submit] {
  background-color: #233431;
  border-radius: 15px;
  border: none;
  border-bottom: 0.4vw solid #8BCCC1;
  border-left: 0.4vw solid #8BCCC1;
  cursor: pointer;
  font-family: "Official_Book";
  font-size: 1.4vw;
}

input[type=submit]:hover {
  background-color: #8BCCC1;
  border-bottom: 0.4vw solid #233431;
  border-left: 0.4vw solid #233431;
}

.dados .inativar {
  text-indent: 0;
  margin-left: 0;
  height: 3.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
  background-color: #233431;
  border-radius: 15px;
  border: none;
  border-bottom: 0.4vw solid #8BCCC1;
  border-left: 0.4vw solid #8BCCC1;
  cursor: pointer;
  font-size: 1.4vw;
}

.dados .inativar:hover {
  background-color: #8BCCC1;
  border-bottom: 0.4vw solid #233431;
  border-left: 0.4vw solid #233431;
}

#reativar_obra {
  display: none;
}

.texto label {
  margin-top: 0.3vw;
  margin-left: 2vw;
  padding: 0.2vw;
  padding-top: 0.3vw;
  font-size: 1.5vw;
  width: 9vw;
}

.texto textarea {
  margin-top: 2vw;
  font-family: "Official_Book";
}

.desc_obra_edit:hover {
  border: 0.3vw solid #8BCCC1;
  border-bottom: 0.6vw solid #8BCCC1;
  border-left: 0.6vw solid #8BCCC1;
}

.adm_obras_adicionar_obra {
  margin-top: 2vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

.adicionar_obra {
  text-indent: 0;
  margin-left: 0;
  height: 3.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  background-color: #233431;
  border-radius: 15px;
  border: none;
  border-bottom: 0.4vw solid #8BCCC1;
  border-left: 0.4vw solid #8BCCC1;
  cursor: pointer;
  font-size: 1.4vw;
}

.adicionar_obra:hover {
  background-color: #8BCCC1;
  border-bottom: 0.4vw solid #233431;
  border-left: 0.4vw solid #233431;
}

.main_adm_obra_adicionar {
  visibility: hidden;
  padding: 2vw;
  display: grid;
  grid-template-rows: 1fr;
  position: fixed;
  width: 65vw;
  height: auto;
  top: 20vh;
  left: 17.5vw;
  border: 1vw solid #233431;
  border-radius: 20px;
  background-color: #6DA097;
}

.main_adm_obra_adicionar .informacoes {
  display: grid;
  grid-template-columns: 15vw 1fr;
  margin-top: 1vw;
}

.main_adm_obra_adicionar .dados {
  display: grid;
  grid-template-columns: 1fr 8vw;
  align-items: center;
}/*# sourceMappingURL=estilo_adm_obra.css.map */