a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7882352941);
}

.guest_link {
  margin-top: -20vw;
  visibility: hidden;
}

.guest_sobre .guest_link {
  margin-top: -10vw;
}

.guest_fundamentos .guest_link {
  margin-top: -10vw;
}

.guest_equipe .guest_link {
  margin-top: -10vw;
}

.guest_img_fundo {
  display: grid;
  grid-template-rows: 95.3vh;
  height: 100%;
  margin-top: 4vw;
}

.guest_img_fundo img {
  width: 100%;
  height: 100%;
  background-color: #8BCCC1;
}

.guest_h2_nosso_trabalho {
  width: 16vw;
  text-indent: 0.3vw;
}

.guest_nosso_trabalho {
  margin-top: 3.2vw;
  display: grid;
  grid-template-rows: 0.1vw 1fr 80%;
  width: auto;
  height: 19.5vw;
  align-items: center;
  justify-content: left;
}

.guest_nosso_trabalho .texto {
  border-radius: 25px;
  display: flex;
  align-items: center;
  width: 54.2vw;
  height: 13.1vw;
  background-color: #233431;
}

.guest_nosso_trabalho .texto p {
  margin: 2vw;
}

p {
  line-height: 2vw;
  text-indent: 1vw;
}

.guest_h2_obras_destaque {
  width: 21vw;
  text-indent: 0.3vw;
}

.guest_obras_destaque {
  margin-top: 3.6vw;
  display: grid;
  grid-template-rows: 0.01vw 5vw 31vw 11.4vw;
  width: auto;
  justify-content: center;
  align-items: center;
}

.guest_obras_destaque h2 {
  margin-top: -2.5%;
  margin-left: 3.7vw;
}

.guest_obras {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 87.5vw;
  height: 45.5vw;
  gap: 3vw;
  text-align: center;
}

.guest_obra {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.guest_obra img {
  display: flex;
  max-width: 31vw;
  max-height: 31vw;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 5px solid #233431;
}

.guest_obras_destaque a {
  height: auto;
  width: auto;
  padding: 2vw;
  border-radius: 25px;
  background-color: #233431;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.guest_cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest_obras_destaque a:hover {
  background-color: #8BCCC1;
}

.guest_cta p:hover {
  background-color: #8BCCC1;
}

#main_sobre {
  margin-top: 12vw;
}

.guest_h2_sobre {
  width: 25vw;
  text-indent: 0.3vw;
}

.guest_sobre {
  margin-top: 3.2vw;
  display: grid;
  grid-template-rows: 0.1vw 5.8vw 1fr 11.6vw;
}

.guest_daventi {
  display: grid;
  grid-template-columns: 19vw 1fr;
  gap: 4.5vw;
  align-items: center;
}

.guest_daventi img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.guest_daventi .guest_texto {
  height: 100%;
  background-color: #233431;
  border-radius: 25px;
  padding: 2vw;
  align-items: center;
}

.guest_frase {
  display: flex;
  background-color: #233431;
  margin: 3.6vw 0% 1.8vw 0%;
  height: 5vw;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.guest_h2_fundamentos {
  width: 22vw;
  text-indent: 0.3vw;
}

.guest_fundamentos {
  margin-top: 4.9vw;
  display: grid;
  grid-template-rows: 0.1vw 5.9vw 1fr;
}

.guest_cards_fundamentos {
  display: grid;
  grid-template-rows: auto;
  gap: 2vw;
}

.guest_mvv {
  display: grid;
  grid-template-columns: 18vw 1fr;
}

.guest_mvv_mid {
  display: grid;
  grid-template-columns: 1fr 18vw;
}

.guest_mvv_mid .guest_mvv_desc {
  margin-left: 0px;
  margin-right: 4vw;
}

.guest_mvv_mid .guest_foto img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.guest_foto {
  height: 100%;
}

.guest_mvv .guest_foto img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.guest_mvv_desc {
  display: grid;
  grid-template-rows: 4vw 1fr;
  margin-left: 4vw;
}

.guest_mvv_desc .guest_nome {
  background-color: #233431;
  border-radius: 25px;
  width: -moz-max-content;
  width: max-content;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guest_mvv_desc .guest_desc {
  background-color: #233431;
  border-radius: 25px;
  margin-top: 2vw;
  padding: 2vw;
}

.guest_h2_equipe {
  width: 20vw;
  text-indent: 0.3vw;
}

.guest_equipe {
  margin-top: 4.9vw;
  display: grid;
  grid-template-rows: 0.1vw 5.9vw 1fr;
}

.guest_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.guest_card {
  display: grid;
  grid-template-rows: 3.2vw 20vw 1fr;
}

.guest_card .guest_nome {
  background-color: #233431;
  width: -moz-min-content;
  width: min-content;
  padding-right: 1.5vw;
  border: #233431;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: left;
  padding-top: 0.8vw;
  text-indent: 1vw;
  font-size: 2vw;
}

.guest_icon img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 5px solid #233431;
  border-top-left-radius: 0px;
}

.guest_card .guest_texto {
  margin-top: 3.2vw;
  background-color: #233431;
  border-radius: 25px;
  padding: 2.4vw;
  text-align: center;
}/*# sourceMappingURL=estilo_guest.css.map */